

.button1 {
    position: relative;
    padding: 12px 35px;
    background: #1d1814;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #120f0d;
    border-radius: 8px;
    box-shadow: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button2 {
    position: relative;
    padding: 12px 35px;
    background: #1d1814;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #120f0d;
    border-radius: 8px;
    box-shadow: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button2:hover {
    background: transparent;
    color: rgb(255, 97, 97);
    box-shadow: 0 0 25px rgb(255, 97, 97);
}

.starr {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s
    cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
.starr1 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15%;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s
    cubic-bezier(0, 0.4, 0, 1.01);
}

.button1:hover {
    background: transparent;
    color: #4b88f2;
    box-shadow: 0 0 25px #4b88f2;

}

.button1:hover .starr {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.bg-image-intre {
    background-image: url("../img/2.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-image-intre0 {
    background-image: url("../img/banner-01.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-image-between01 {
    background-image: url("../img/01.jpeg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-image-between2 {
    background-image: url("../img/video-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-image-between3 {
    background-image: url("../img/contact-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.bg-shadow {
    background-color: rgba(228, 222, 222, 0.274);
}

a.hover-1 {
    position: relative;
    color: white!important;
}

a.hover-1:hover {
    color: red!important;
}
.card {
    cursor: pointer;
    transition: ease 0.5s;
}
.card:hover {
    transform: translateY(-15px);
}
.card1 {
    cursor: pointer;
    transition: ease 0.7s;
}
.card1:hover {
    transform: translateY(-10px);
}
